html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dialogProviderContainerStyle {
  width: 100% !important;
}

@media only screen and (max-width: 480px) {
  html,
  body {
    font-size: 8px;
  }
}

@media only screen and (min-width: 480px) {
  html,
  body {
    font-size: 8px;
  }
}

@media only screen and (min-width: 768px) {
  html,
  body {
    font-size: 12px;
  }
}

@media only screen and (min-width: 992px) {
  html,
  body {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1280px) {
  html,
  body {
    font-size: 16px;
  }
}
